body{
    background-color: #000;
   width: 100%;
   height: 900px;
}
h2{
    font-size: 42px;
}

h2, a {
    color: #fff;
}
a{text-decoration: none;}

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.botones{
    margin: 0 20px;
    width: 20vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .botones:hover{
    background-color: rgba(95, 95, 95, 0.678);

 }


@media only screen and (max-width: 650px) {

    h2{
        font-size: 24px;
    }
    
    .botones{
        margin: 10px auto;
        width: 20vw;
        height: 45px;
        width: 260px;
    }
    

    
    .contenedor-botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
  }